<div class="card">
  <img class="card-img-top" src="" alt="Drink picture">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
  </div>
  <ul class="list-group list-flush">
    {{#each ingredients as |ingredient|}}
      <li class="list-group-item">{{ingredient.name}}</li>
    {{/each}}
  </ul>
  <div class="card-body">
    <a href="/api/beverages/{{id}}" class="btn btn-primary">View Recipe</a>
    <a href="/reviews/submit/{{id}}" class="btn btn-primary">Submit a Review</a>
  </div>
</div>
