{{!-- I left both versions from the different commits here and commented them both out for now, and commented who's was who's. --}}

{{!-- This one is Nick's --}}
<div class="card">
            <img class="card-img-top" src="" alt="Drink picture">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>
            </div>
            {{log beverage}}
            <ul class="list-group list-flush">
                {{#each ingredients as |ingredient|}}
                    <li class="list-group-item">{{ingredient.name}}</li>
                {{/each}}
            </ul>
            <div class="card-body">
                <a href="/" class="btn btn-primary">Reviews</a>
                <a href="/" class="btn btn-primary">Add to Cart!</a>
            </div>
        </div>

{{!-- This one is Kelsey's --}}
{{!-- <div class="beverage-card">
  <h1>{{beverage.name}}</h1>
  <p>c</p>
  <figure>
    <figcaption>Ingredients</figcaption>
    <ul>
      {{#each beverage.ingredients as |ingredient|}}
        <li>{{ingredient}}</li>
      {{/each}}
    </ul>
  </figure>
</div> --}}
