
<div class="beverage-card">
  <h1>{{beverage.name}}</h1>
  <p>{{beverage.description}}</p>
  <h3>Ingredients</h3>
  <ul>
    <li>{{beverage.ingredient_id[0]}}</li>
    <li>{{beverage.ingredient_id[1]}}</li>
    <li>{{beverage.ingredient_id[2]}}</li>
  </ul>
</div>
