<div class="container mt-5">
  <h2 class="text-center">Reviews for {{reviews.[0].beverage.name}}</h2>
  <div class="list-group">
    {{#each reviews}}
      <div class="list-group-item">
        <h4>{{this.User.name}}</h4> 
        <p>{{this.review}}</p>
      </div>
    {{else}}
      <p class="text-center">No reviews available for this beverage.</p>
    {{/each}}
  </div>
  <div class="text-center mt-3">
    <a href="/api/beverages/{{reviews.[0].beverage.id}}" class="btn btn-primary">Back to Beverage</a>
  </div>
</div>

